# The directory Mix will write compiled artifacts to.
/_build/

# The directory Gleam will write compiled artifacts to.
/build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

/.fetch
erl_crash.dump
