# App artifacts
/_build
/db
/deps
/*.ez
mix.lock
mix.lock.*

# Nerves images
/_images

# Generate on crash by the VM
erl_crash.dump

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# If you run "mix test --cover", coverage assets end up here.
/cover

# ignore everything in rel/ except config files
rel/*
!rel/config.exs
!rel/vm.args
